# 11.1 Date and Time Data Types and Tools

In [1]:
from datetime import datetime 

now = datetime.now()

now

datetime.datetime(2019, 10, 24, 19, 3, 2, 167309)

In [2]:
now.year, now.month, now.day

(2019, 10, 24)

In [3]:
delta = datetime(2011,1,7) - datetime(2008,6,24,8,15)

In [4]:
delta.days

926

In [5]:
delta.seconds

56700

In [6]:
from datetime import timedelta 

start = datetime(2011,1,7)

start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [7]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

## 11.1.1 Converting Between String and Datetime

In [8]:
stamp = datetime(2011,1,3)
str(stamp)

'2011-01-03 00:00:00'

In [9]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [10]:
value = '2011-01-03'
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [11]:
datestrs = ['7/6/2011','8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [12]:
from dateutil.parser import parse 

parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [13]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [14]:
parse('6/12/2011', dayfirst = True)

datetime.datetime(2011, 12, 6, 0, 0)

In [15]:
import pandas as pd
datestrs = ['2011-07-06 12:00:00','2011-08-06 00:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [16]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [17]:
idx[2]

NaT

In [18]:
pd.isnull(idx)

array([False, False,  True])

# 11.2 Time Series Basics

In [19]:
from datetime import datetime 

dates = [datetime(2011,1,2), datetime(2011,1,5),
         datetime(2011,1,7), datetime(2011,1,8),
         datetime(2011,1,10), datetime(2011,1,12)]

In [20]:
import numpy as np
ts = pd.Series(np.random.randn(6), index = dates)
ts

2011-01-02   -0.152598
2011-01-05   -0.703380
2011-01-07    0.872575
2011-01-08    0.504083
2011-01-10    1.194440
2011-01-12    0.244771
dtype: float64

In [21]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [22]:
ts[::2]

2011-01-02   -0.152598
2011-01-07    0.872575
2011-01-10    1.194440
dtype: float64

In [23]:
ts + ts[::2]

2011-01-02   -0.305197
2011-01-05         NaN
2011-01-07    1.745150
2011-01-08         NaN
2011-01-10    2.388879
2011-01-12         NaN
dtype: float64

In [24]:
ts.index.dtype

dtype('<M8[ns]')

In [25]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

## 11.2.1 Indexing, Selection, Subseting

In [26]:
stamp = ts.index[2]
ts[stamp]

0.8725747583865925

In [27]:
ts['1/10/2011']

1.1944395334454885

In [28]:
ts['20110110']

1.1944395334454885

In [29]:
longer_ts = pd.Series(np.random.randn(1000), index = pd.date_range('1/1/2000', periods = 1000))
longer_ts

2000-01-01   -0.533553
2000-01-02    0.953119
2000-01-03   -0.438122
2000-01-04   -0.624405
2000-01-05   -0.619715
2000-01-06   -0.675440
2000-01-07   -0.037552
2000-01-08   -0.444075
2000-01-09   -0.553535
2000-01-10   -1.526301
2000-01-11   -1.025136
2000-01-12   -1.138135
2000-01-13   -0.080916
2000-01-14    0.535672
2000-01-15    2.516894
2000-01-16   -1.126610
2000-01-17   -0.817252
2000-01-18    0.639564
2000-01-19    1.098920
2000-01-20    0.272255
2000-01-21   -0.180201
2000-01-22   -1.692664
2000-01-23    0.372788
2000-01-24   -1.660907
2000-01-25   -0.795749
2000-01-26   -0.517917
2000-01-27    1.206764
2000-01-28    0.142688
2000-01-29    0.371831
2000-01-30    0.655577
                ...
2002-08-28    0.915199
2002-08-29   -1.326667
2002-08-30   -1.862073
2002-08-31   -0.520302
2002-09-01   -0.473075
2002-09-02    0.699999
2002-09-03   -1.084456
2002-09-04   -0.617893
2002-09-05    1.460327
2002-09-06    0.609410
2002-09-07    0.178594
2002-09-08    1.023717
2002-09-09    0.514181
2002-09-10    0.419816
2002-09-11   -1.097446
2002-09-12    0.375310
2002-09-13    0.401873
2002-09-14   -1.354918
2002-09-15    0.564277
2002-09-16    0.790260
2002-09-17   -0.885881
2002-09-18    1.080424
2002-09-19    1.098875
2002-09-20    0.980871
2002-09-21   -0.319016
2002-09-22    0.705040
2002-09-23    1.016156
2002-09-24   -2.910160
2002-09-25    1.106874
2002-09-26    1.286984
Freq: D, Length: 1000, dtype: float64

In [30]:
longer_ts['2001']

2001-01-01    0.341994
2001-01-02    0.928842
2001-01-03    0.660140
2001-01-04   -1.261146
2001-01-05    1.186562
2001-01-06    0.899957
2001-01-07   -1.543012
2001-01-08   -0.193924
2001-01-09    0.276332
2001-01-10    0.858199
2001-01-11    0.060809
2001-01-12   -1.022211
2001-01-13   -0.228713
2001-01-14    0.524595
2001-01-15    1.899901
2001-01-16    0.448599
2001-01-17    0.310793
2001-01-18   -1.247735
2001-01-19   -0.575099
2001-01-20    0.917583
2001-01-21    0.172318
2001-01-22    0.014710
2001-01-23    1.003119
2001-01-24    1.757555
2001-01-25   -1.774880
2001-01-26   -0.628397
2001-01-27   -0.198350
2001-01-28   -1.050145
2001-01-29    2.085382
2001-01-30   -0.389568
                ...
2001-12-02    0.522556
2001-12-03   -0.191292
2001-12-04   -0.328416
2001-12-05    0.992280
2001-12-06    2.007658
2001-12-07    1.652569
2001-12-08    0.534429
2001-12-09   -2.450508
2001-12-10   -0.195974
2001-12-11   -0.396813
2001-12-12    0.855097
2001-12-13   -1.230597
2001-12-14    0.300325
2001-12-15    0.257965
2001-12-16   -1.265749
2001-12-17    0.440624
2001-12-18    1.065060
2001-12-19   -0.732225
2001-12-20    0.094335
2001-12-21    0.972436
2001-12-22    0.379749
2001-12-23    0.800936
2001-12-24   -0.103576
2001-12-25    1.331617
2001-12-26    0.090032
2001-12-27   -0.946241
2001-12-28   -0.807790
2001-12-29    0.256274
2001-12-30    1.503333
2001-12-31   -0.757375
Freq: D, Length: 365, dtype: float64

In [31]:
longer_ts['2001-05']

2001-05-01    1.423045
2001-05-02   -0.812354
2001-05-03   -0.044944
2001-05-04    0.272914
2001-05-05   -1.758159
2001-05-06   -0.107153
2001-05-07    2.183914
2001-05-08    1.492938
2001-05-09   -0.606428
2001-05-10   -0.362757
2001-05-11   -0.247916
2001-05-12   -0.762969
2001-05-13    1.484896
2001-05-14    0.521179
2001-05-15   -0.010027
2001-05-16   -1.236611
2001-05-17    0.497986
2001-05-18   -0.733344
2001-05-19   -0.797694
2001-05-20    1.226590
2001-05-21   -1.076330
2001-05-22   -0.003801
2001-05-23    0.606341
2001-05-24    1.229925
2001-05-25   -0.825903
2001-05-26    0.227666
2001-05-27   -1.665696
2001-05-28    0.858090
2001-05-29   -2.272411
2001-05-30   -0.829797
2001-05-31   -0.123462
Freq: D, dtype: float64

In [32]:
ts[datetime(2011,1,7)]

0.8725747583865925

In [33]:
ts

2011-01-02   -0.152598
2011-01-05   -0.703380
2011-01-07    0.872575
2011-01-08    0.504083
2011-01-10    1.194440
2011-01-12    0.244771
dtype: float64

In [34]:
ts['1/6/2011':'1/11/2011']

2011-01-07    0.872575
2011-01-08    0.504083
2011-01-10    1.194440
dtype: float64

In [35]:
ts.truncate(after = '1/9/2011')

2011-01-02   -0.152598
2011-01-05   -0.703380
2011-01-07    0.872575
2011-01-08    0.504083
dtype: float64

In [36]:
dates = pd.date_range('1/1/2000', periods = 100, freq = 'W-WED')
long_df = pd.DataFrame(np.random.randn(100,4),
                       index = dates,
                       columns = ['Colorado', 'Texas', 'New York', 'Ohio'])

long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02 -0.608420  0.058205  0.071882  0.630607
2001-05-09  1.471868  0.071936 -0.270324  0.093216
2001-05-16 -0.411000 -2.207314  0.607083 -0.060273
2001-05-23  0.535420 -0.249355 -1.235297  0.043216
2001-05-30 -0.236010  0.306533 -0.951478 -1.292114

## 11.2.2 Time Series with Duplicate Indices

In [37]:
dates = pd.DatetimeIndex(['1/1/2000','1/2/2000','1/2/2000','1/2/2000','1/3/2000'])
dup_ts = pd.Series(np.arange(5), index = dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [38]:
dup_ts['1/3/2000']

4

In [39]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [40]:
grouped = dup_ts.groupby(level = 0)
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

In [41]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

# 11.3 Date Ranges, Frequencies, and Shifting

In [42]:
ts

2011-01-02   -0.152598
2011-01-05   -0.703380
2011-01-07    0.872575
2011-01-08    0.504083
2011-01-10    1.194440
2011-01-12    0.244771
dtype: float64

In [43]:
resampler = ts.resample('D')

## 11.3.1 Generating Date Ranges

In [44]:
index = pd.date_range('2012-04-01', '2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [46]:
pd.date_range(start = '2012-04-01', periods = 20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [47]:
pd.date_range(end = '2012-06-01', periods = 20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [48]:
pd.date_range('2000-01-01','2000-12-01', freq = 'BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [49]:
pd.date_range('2012-05-02 12:56:31', periods = 5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [51]:
pd.date_range('2012-05-02 12:56:31', periods = 5, normalize = True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

## 11.3.2 Frequencies and Date Offsets

In [52]:
from pandas.tseries.offsets import Hour, Minute
hour = Hour()
hour

In [53]:
four_hours = Hour(4)
four_hours

In [54]:
pd.date_range('2000-01-01','2000-01-03 23:59', freq = '4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [55]:
Hour(2) + Minute(30)

In [56]:
pd.date_range('2000-01-01', periods = 10, freq = '1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [57]:
rng = pd.date_range('2012-01-01', '2012-09-01', freq = 'WOM-3FRI')
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

## 11.3.3 Shifting (Leading and LAgging) Data

In [58]:
ts = pd.Series(np.random.randn(4),
               index = pd.date_range('1/1/2000', periods = 4, freq = 'M'))
ts

2000-01-31    0.964432
2000-02-29   -0.185204
2000-03-31   -0.937064
2000-04-30   -0.215837
Freq: M, dtype: float64

In [59]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.964432
2000-04-30   -0.185204
Freq: M, dtype: float64

In [60]:
ts.shift(-2)

2000-01-31   -0.937064
2000-02-29   -0.215837
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [61]:
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29   -1.192035
2000-03-31    4.059626
2000-04-30   -0.769667
Freq: M, dtype: float64

In [62]:
ts.shift(2, freq = 'M')

2000-03-31    0.964432
2000-04-30   -0.185204
2000-05-31   -0.937064
2000-06-30   -0.215837
Freq: M, dtype: float64

In [63]:
ts.shift(3, freq = 'D')

2000-02-03    0.964432
2000-03-03   -0.185204
2000-04-03   -0.937064
2000-05-03   -0.215837
dtype: float64

In [64]:
ts.shift(1, freq = '90T')

2000-01-31 01:30:00    0.964432
2000-02-29 01:30:00   -0.185204
2000-03-31 01:30:00   -0.937064
2000-04-30 01:30:00   -0.215837
Freq: M, dtype: float64

In [65]:
from pandas.tseries.offsets import Day, MonthEnd
now = datetime(2011,11,17)
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [66]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [67]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [68]:
offset = MonthEnd()

In [69]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [70]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [71]:
ts = pd.Series(np.random.randn(20),
               index = pd.date_range('1/15/2000', periods = 20, freq = '4d'))
ts

2000-01-15   -1.508326
2000-01-19   -1.139563
2000-01-23    0.512540
2000-01-27    0.258204
2000-01-31   -0.415908
2000-02-04   -0.820129
2000-02-08    2.165831
2000-02-12   -1.105383
2000-02-16   -1.278136
2000-02-20    0.239528
2000-02-24    1.932572
2000-02-28    0.809361
2000-03-03    0.396568
2000-03-07   -0.033238
2000-03-11    0.260635
2000-03-15    0.355819
2000-03-19   -0.112790
2000-03-23    1.443976
2000-03-27    0.689080
2000-03-31   -0.455498
Freq: 4D, dtype: float64

In [72]:
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.458611
2000-02-29    0.277663
2000-03-31    0.318069
dtype: float64

In [77]:
ts.groupby(MonthEnd().rollforward).mean()

2000-01-31   -0.458611
2000-02-29    0.277663
2000-03-31    0.318069
dtype: float64

In [78]:
ts.resample('M').mean()

2000-01-31   -0.458611
2000-02-29    0.277663
2000-03-31    0.318069
Freq: M, dtype: float64

# 11.4 Time Zone Handling

In [80]:
import pytz
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [81]:
tz = pytz.timezone('America/New_York')
tz

## 11.4.1 Time Zone Localization and Conversion

In [82]:
rng = pd.date_range('3/9/2012 9:30', periods = 6, freq = 'D')
ts = pd.Series(np.random.randn(len(rng)), index = rng)
ts

2012-03-09 09:30:00    0.910413
2012-03-10 09:30:00   -0.019721
2012-03-11 09:30:00   -0.595163
2012-03-12 09:30:00   -0.728760
2012-03-13 09:30:00    0.484908
2012-03-14 09:30:00   -0.231296
Freq: D, dtype: float64

In [83]:
print(ts.index.tz)

None

In [84]:
pd.date_range('3/9/2012 9:30',periods = 10, freq = 'D', tz = 'UTC' )

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [85]:
ts

2012-03-09 09:30:00    0.910413
2012-03-10 09:30:00   -0.019721
2012-03-11 09:30:00   -0.595163
2012-03-12 09:30:00   -0.728760
2012-03-13 09:30:00    0.484908
2012-03-14 09:30:00   -0.231296
Freq: D, dtype: float64

In [86]:
ts_utc = ts.tz_localize('UTC')
ts_utc

2012-03-09 09:30:00+00:00    0.910413
2012-03-10 09:30:00+00:00   -0.019721
2012-03-11 09:30:00+00:00   -0.595163
2012-03-12 09:30:00+00:00   -0.728760
2012-03-13 09:30:00+00:00    0.484908
2012-03-14 09:30:00+00:00   -0.231296
Freq: D, dtype: float64

In [88]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [89]:
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00    0.910413
2012-03-10 04:30:00-05:00   -0.019721
2012-03-11 05:30:00-04:00   -0.595163
2012-03-12 05:30:00-04:00   -0.728760
2012-03-13 05:30:00-04:00    0.484908
2012-03-14 05:30:00-04:00   -0.231296
Freq: D, dtype: float64

In [90]:
ts_eastern = ts.tz_localize('America/New_York')
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00    0.910413
2012-03-10 14:30:00+00:00   -0.019721
2012-03-11 13:30:00+00:00   -0.595163
2012-03-12 13:30:00+00:00   -0.728760
2012-03-13 13:30:00+00:00    0.484908
2012-03-14 13:30:00+00:00   -0.231296
Freq: D, dtype: float64

In [91]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00    0.910413
2012-03-10 15:30:00+01:00   -0.019721
2012-03-11 14:30:00+01:00   -0.595163
2012-03-12 14:30:00+01:00   -0.728760
2012-03-13 14:30:00+01:00    0.484908
2012-03-14 14:30:00+01:00   -0.231296
Freq: D, dtype: float64

In [92]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

## 11.4.2 Operations with Time Zone - Aware Timestamp Objects

In [93]:
stamp = pd.Timestamp('2011-03-12 04:00')
stamp_utc = stamp.tz_localize('utc')
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [94]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz = 'Europe/Moscow')
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [95]:
stamp_utc.value

1299902400000000000

In [96]:
stamp_utc.tz_convert('America/New_York').value

1299902400000000000

In [97]:
from pandas.tseries.offsets import Hour
stamp = pd.Timestamp('2012-03-12 01:30', tz = 'US/Eastern')
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [98]:
stamp + Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [99]:
stamp = pd.Timestamp('2012-11-04 00:30', tz = 'US/Eastern')
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [100]:
stamp + 2 * Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

## 11.4.3 Operations Between Different Time Zones

In [101]:
rng = pd.date_range('3/7/2012 9:30', periods = 10, freq = 'B')
ts = pd.Series(np.random.randn(len(rng)), index = rng)
ts

2012-03-07 09:30:00    0.082404
2012-03-08 09:30:00   -0.586359
2012-03-09 09:30:00   -0.723219
2012-03-12 09:30:00   -2.386935
2012-03-13 09:30:00   -0.682138
2012-03-14 09:30:00   -0.757772
2012-03-15 09:30:00    0.198897
2012-03-16 09:30:00    0.476403
2012-03-19 09:30:00    0.501219
2012-03-20 09:30:00    0.280774
Freq: B, dtype: float64

In [102]:
ts1 = ts[:7].tz_localize('Europe/London')
ts2 = ts1[2:].tz_convert('Europe/Moscow')
result = ts1 + ts2
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

# 11.5 Periods and Period Arithmetic

In [1]:
import pandas as pd 

p = pd.Period(2007, freq = 'A-DEC')
p

Period('2007', 'A-DEC')

In [2]:
p + 5

Period('2012', 'A-DEC')

In [3]:
p - 2

Period('2005', 'A-DEC')

In [4]:
pd.Period('2014', freq = 'A-DEC') - p

In [5]:
rng = pd.period_range('2000-01-01','2000-06-30',freq = 'M')
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [7]:
import numpy as np
pd.Series(np.random.randn(6), index = rng)

2000-01    1.413927
2000-02    0.086392
2000-03   -0.377685
2000-04    0.805686
2000-05   -1.086389
2000-06   -1.255147
Freq: M, dtype: float64

In [8]:
values = ['2001Q3','2002Q2','2003Q1']
index = pd.PeriodIndex(values, freq = 'Q-DEC')
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

## 11.5.1 Period Frequency Conversion

In [9]:
p = pd.Period('2007', freq = 'A-DEC')
p

Period('2007', 'A-DEC')

In [10]:
p.asfreq('M', how = 'start')

Period('2007-01', 'M')

In [11]:
p.asfreq('M', how = 'end')

Period('2007-12', 'M')

In [12]:
p = pd.Period('2007', freq = 'A-JUN')
p

Period('2007', 'A-JUN')

In [13]:
p.asfreq('M','start')

Period('2006-07', 'M')

In [14]:
p.asfreq('M','end')

Period('2007-06', 'M')

In [16]:
p = pd.Period('Aug-2007','M')
p.asfreq('A-JUN')

Period('2008', 'A-JUN')

In [17]:
rng = pd.period_range('2006','2009',freq = 'A-DEC')
ts = pd.Series(np.random.randn(len(rng)), index = rng)
ts

2006   -0.282750
2007    0.203634
2008   -0.612745
2009   -0.268028
Freq: A-DEC, dtype: float64

In [18]:
ts.asfreq('M',how = 'start')

2006-01   -0.282750
2007-01    0.203634
2008-01   -0.612745
2009-01   -0.268028
Freq: M, dtype: float64

In [20]:
ts.asfreq('B',how = 'end')

2006-12-29   -0.282750
2007-12-31    0.203634
2008-12-31   -0.612745
2009-12-31   -0.268028
Freq: B, dtype: float64

## 11.5.2 Quarterly Period Frequencies

In [21]:
p = pd.Period('2012Q4',freq = 'Q-JAN')
p

Period('2012Q4', 'Q-JAN')

In [22]:
p.asfreq('D','start')

Period('2011-11-01', 'D')

In [23]:
p.asfreq('D','end')

Period('2012-01-31', 'D')

In [24]:
p4pm = (p.asfreq('B','e')-1).asfreq('T','s') + 16 * 60
p4pm

Period('2012-01-30 16:00', 'T')

In [25]:
p4pm.to_timestamp()

Timestamp('2012-01-30 16:00:00')

In [26]:
rng = pd.period_range('2011Q3','2012Q4', freq = 'Q-JAN')
ts = pd.Series(np.arange(len(rng)), index = rng)
ts

2011Q3    0
2011Q4    1
2012Q1    2
2012Q2    3
2012Q3    4
2012Q4    5
Freq: Q-JAN, dtype: int64

In [28]:
new_rng = (rng.asfreq('B','e') - 1).asfreq('T','s') + 16 * 60
ts.index = new_rng.to_timestamp()
ts

2010-10-28 16:00:00    0
2011-01-28 16:00:00    1
2011-04-28 16:00:00    2
2011-07-28 16:00:00    3
2011-10-28 16:00:00    4
2012-01-30 16:00:00    5
dtype: int64

## 11.5.3 Converting Timestamps to Periods (and Back)

In [29]:
rng = pd.date_range('2000-01-01', periods = 3, freq = 'M')
ts = pd.Series(np.random.randn(3), index = rng)
ts

2000-01-31   -0.217393
2000-02-29    0.155409
2000-03-31    0.470532
Freq: M, dtype: float64

In [30]:
pts = ts.to_period()
pts

2000-01   -0.217393
2000-02    0.155409
2000-03    0.470532
Freq: M, dtype: float64

In [31]:
rng = pd.date_range('1/29/2000', periods = 6, freq = 'D')
ts2 = pd.Series(np.random.randn(6), index = rng)
ts2

2000-01-29    1.194331
2000-01-30   -1.518470
2000-01-31    0.305934
2000-02-01    1.160448
2000-02-02   -2.548319
2000-02-03   -0.357298
Freq: D, dtype: float64

In [32]:
ts2.to_period('M')

2000-01    1.194331
2000-01   -1.518470
2000-01    0.305934
2000-02    1.160448
2000-02   -2.548319
2000-02   -0.357298
Freq: M, dtype: float64

In [33]:
pts = ts2.to_period()
pts

2000-01-29    1.194331
2000-01-30   -1.518470
2000-01-31    0.305934
2000-02-01    1.160448
2000-02-02   -2.548319
2000-02-03   -0.357298
Freq: D, dtype: float64

In [34]:
pts.to_timestamp(how = 'end')

2000-01-29 23:59:59.999999999    1.194331
2000-01-30 23:59:59.999999999   -1.518470
2000-01-31 23:59:59.999999999    0.305934
2000-02-01 23:59:59.999999999    1.160448
2000-02-02 23:59:59.999999999   -2.548319
2000-02-03 23:59:59.999999999   -0.357298
Freq: D, dtype: float64

## 11.5.4 Creating a PeriodIndex from Arrays

In [36]:
data = pd.read_csv('/Users/boyuan/Desktop/OneDrive - Duke University/Data Science Box/Python/Python for data analysis 2nd/examples/macrodata.csv')
data.head(5)

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.98,139.7,2.82,5.8,177.146,0.00,0.00
1,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.15,141.7,3.08,5.1,177.830,2.34,0.74
2,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.35,140.5,3.82,5.3,178.657,2.74,1.09
3,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.37,140.0,4.33,5.6,179.386,0.27,4.06
4,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.54,139.6,3.50,5.2,180.007,2.31,1.19

In [37]:
data.year

0      1959.0
1      1959.0
2      1959.0
3      1959.0
4      1960.0
5      1960.0
6      1960.0
7      1960.0
8      1961.0
9      1961.0
10     1961.0
11     1961.0
12     1962.0
13     1962.0
14     1962.0
15     1962.0
16     1963.0
17     1963.0
18     1963.0
19     1963.0
20     1964.0
21     1964.0
22     1964.0
23     1964.0
24     1965.0
25     1965.0
26     1965.0
27     1965.0
28     1966.0
29     1966.0
        ...
173    2002.0
174    2002.0
175    2002.0
176    2003.0
177    2003.0
178    2003.0
179    2003.0
180    2004.0
181    2004.0
182    2004.0
183    2004.0
184    2005.0
185    2005.0
186    2005.0
187    2005.0
188    2006.0
189    2006.0
190    2006.0
191    2006.0
192    2007.0
193    2007.0
194    2007.0
195    2007.0
196    2008.0
197    2008.0
198    2008.0
199    2008.0
200    2009.0
201    2009.0
202    2009.0
Name: year, Length: 203, dtype: float64

In [38]:
data.quarter

0      1.0
1      2.0
2      3.0
3      4.0
4      1.0
5      2.0
6      3.0
7      4.0
8      1.0
9      2.0
10     3.0
11     4.0
12     1.0
13     2.0
14     3.0
15     4.0
16     1.0
17     2.0
18     3.0
19     4.0
20     1.0
21     2.0
22     3.0
23     4.0
24     1.0
25     2.0
26     3.0
27     4.0
28     1.0
29     2.0
      ...
173    2.0
174    3.0
175    4.0
176    1.0
177    2.0
178    3.0
179    4.0
180    1.0
181    2.0
182    3.0
183    4.0
184    1.0
185    2.0
186    3.0
187    4.0
188    1.0
189    2.0
190    3.0
191    4.0
192    1.0
193    2.0
194    3.0
195    4.0
196    1.0
197    2.0
198    3.0
199    4.0
200    1.0
201    2.0
202    3.0
Name: quarter, Length: 203, dtype: float64

In [39]:
index = pd.PeriodIndex(year = data.year, quarter = data.quarter, freq = 'Q-DEC')
index

PeriodIndex(['1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1', '1960Q2',
             '1960Q3', '1960Q4', '1961Q1', '1961Q2',
             ...
             '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
             '2008Q4', '2009Q1', '2009Q2', '2009Q3'],
            dtype='period[Q-DEC]', length=203, freq='Q-DEC')

In [40]:
data.index = index
data.infl

1959Q1    0.00
1959Q2    2.34
1959Q3    2.74
1959Q4    0.27
1960Q1    2.31
1960Q2    0.14
1960Q3    2.70
1960Q4    1.21
1961Q1   -0.40
1961Q2    1.47
1961Q3    0.80
1961Q4    0.80
1962Q1    2.26
1962Q2    0.13
1962Q3    2.11
1962Q4    0.79
1963Q1    0.53
1963Q2    2.75
1963Q3    0.78
1963Q4    2.46
1964Q1    0.13
1964Q2    0.90
1964Q3    1.29
1964Q4    2.05
1965Q1    1.28
1965Q2    2.54
1965Q3    0.89
1965Q4    2.90
1966Q1    4.99
1966Q2    2.10
          ...
2002Q2    1.56
2002Q3    2.66
2002Q4    3.08
2003Q1    1.31
2003Q2    1.09
2003Q3    2.60
2003Q4    3.02
2004Q1    2.35
2004Q2    3.61
2004Q3    3.58
2004Q4    2.09
2005Q1    4.15
2005Q2    1.85
2005Q3    9.14
2005Q4    0.40
2006Q1    2.60
2006Q2    3.97
2006Q3   -1.58
2006Q4    3.30
2007Q1    4.58
2007Q2    2.75
2007Q3    3.45
2007Q4    6.38
2008Q1    2.82
2008Q2    8.53
2008Q3   -3.16
2008Q4   -8.79
2009Q1    0.94
2009Q2    3.37
2009Q3    3.56
Freq: Q-DEC, Name: infl, Length: 203, dtype: float64

# 11.6 Resampling and Frequency Conversion

## 11.6.1 Downsampling

## 11.6.2 Upsampling and Interpolation

## 11.6.3 Resampling with Periods

# 11.7 Moving Window Functions

## 11.7.1 Exponentially Weighted Functions

## 11.7.2 Binary Moving Window Functions

## 11.7.3 User-Defined Moving Window Functions

# 11.8 Conclusion