# 11.1 Date and Time Data Types and Tools

In [1]:
from datetime import datetime 

now = datetime.now()

now

datetime.datetime(2019, 10, 22, 21, 20, 59, 806743)

In [2]:
now.year, now.month, now.day

(2019, 10, 22)

In [3]:
delta = datetime(2011,1,7) - datetime(2008,6,24,8,15)

In [4]:
delta.days

926

In [5]:
delta.seconds

56700

In [6]:
from datetime import timedelta 

start = datetime(2011,1,7)

start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [7]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

## 11.1.1 Converting Between String and Datetime

In [8]:
stamp = datetime(2011,1,3)
str(stamp)

'2011-01-03 00:00:00'

In [9]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [10]:
value = '2011-01-03'
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [13]:
datestrs = ['7/6/2011','8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [14]:
from dateutil.parser import parse 

parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [15]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [16]:
parse('6/12/2011', dayfirst = True)

datetime.datetime(2011, 12, 6, 0, 0)

In [18]:
import pandas as pd
datestrs = ['2011-07-06 12:00:00','2011-08-06 00:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [19]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [20]:
idx[2]

NaT

In [21]:
pd.isnull(idx)

array([False, False,  True])

# 11.2 Time Series Basics

In [22]:
from datetime import datetime 

dates = [datetime(2011,1,2), datetime(2011,1,5),
         datetime(2011,1,7), datetime(2011,1,8),
         datetime(2011,1,10), datetime(2011,1,12)]

In [24]:
import numpy as np
ts = pd.Series(np.random.randn(6), index = dates)
ts

2011-01-02   -0.113944
2011-01-05   -1.105577
2011-01-07   -1.297828
2011-01-08    1.390254
2011-01-10    0.330240
2011-01-12   -0.851502
dtype: float64

In [25]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [27]:
ts[::2]

2011-01-02   -0.113944
2011-01-07   -1.297828
2011-01-10    0.330240
dtype: float64

In [26]:
ts + ts[::2]

2011-01-02   -0.227887
2011-01-05         NaN
2011-01-07   -2.595655
2011-01-08         NaN
2011-01-10    0.660481
2011-01-12         NaN
dtype: float64

In [28]:
ts.index.dtype

dtype('<M8[ns]')

In [29]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

## 11.2.1 Indexing, Selection, Subseting

In [30]:
stamp = ts.index[2]
ts[stamp]

-1.2978275729005746

In [31]:
ts['1/10/2011']

0.33024039578371284

In [32]:
ts['20110110']

0.33024039578371284

In [33]:
longer_ts = pd.Series(np.random.randn(1000), index = pd.date_range('1/1/2000', periods = 1000))
longer_ts

2000-01-01   -0.992488
2000-01-02   -0.529557
2000-01-03   -1.032430
2000-01-04    1.129149
2000-01-05    0.124187
2000-01-06   -0.474533
2000-01-07   -0.488448
2000-01-08   -1.877950
2000-01-09   -0.498180
2000-01-10    1.017232
2000-01-11   -0.873175
2000-01-12   -0.383943
2000-01-13    0.166254
2000-01-14    1.500542
2000-01-15    0.130344
2000-01-16   -0.112959
2000-01-17    1.864761
2000-01-18    0.142951
2000-01-19   -0.722860
2000-01-20    1.243124
2000-01-21   -0.088444
2000-01-22   -0.049041
2000-01-23   -0.081167
2000-01-24   -0.836282
2000-01-25   -0.950862
2000-01-26    0.980502
2000-01-27   -0.037993
2000-01-28    1.078993
2000-01-29    0.009394
2000-01-30    0.646070
                ...
2002-08-28   -2.192679
2002-08-29    0.565295
2002-08-30   -0.126748
2002-08-31   -1.062507
2002-09-01   -1.439054
2002-09-02    0.218290
2002-09-03   -0.910130
2002-09-04   -0.583514
2002-09-05   -1.495428
2002-09-06   -0.182338
2002-09-07   -0.728248
2002-09-08   -0.853004
2002-09-09    0.646444
2002-09-10    0.358386
2002-09-11   -0.280136
2002-09-12   -0.789576
2002-09-13    0.789867
2002-09-14    0.679895
2002-09-15    0.780166
2002-09-16   -3.017939
2002-09-17    0.682464
2002-09-18   -0.011717
2002-09-19   -0.772532
2002-09-20    0.890170
2002-09-21    1.165567
2002-09-22   -0.913840
2002-09-23    0.275316
2002-09-24    1.200374
2002-09-25    0.096879
2002-09-26   -0.870049
Freq: D, Length: 1000, dtype: float64

In [34]:
longer_ts['2001']

2001-01-01    1.148317
2001-01-02    0.316142
2001-01-03   -1.054721
2001-01-04   -0.879990
2001-01-05    1.602435
2001-01-06    0.762549
2001-01-07    0.299278
2001-01-08   -0.784321
2001-01-09    0.307413
2001-01-10    0.880419
2001-01-11    0.650272
2001-01-12   -0.889219
2001-01-13    0.480489
2001-01-14    0.405642
2001-01-15    0.305735
2001-01-16   -2.245616
2001-01-17   -1.549903
2001-01-18    0.066560
2001-01-19   -0.015014
2001-01-20   -0.789667
2001-01-21   -0.721305
2001-01-22   -0.868150
2001-01-23    1.167284
2001-01-24   -0.142400
2001-01-25    1.371496
2001-01-26   -0.907392
2001-01-27   -1.649138
2001-01-28    0.654325
2001-01-29    0.294766
2001-01-30    0.851676
                ...
2001-12-02   -0.035273
2001-12-03   -1.362262
2001-12-04   -0.514655
2001-12-05   -0.195359
2001-12-06   -0.835711
2001-12-07   -0.583419
2001-12-08    1.458692
2001-12-09    0.312928
2001-12-10    0.453365
2001-12-11    0.110236
2001-12-12    0.488741
2001-12-13   -1.689767
2001-12-14   -0.256086
2001-12-15   -0.198680
2001-12-16   -1.382705
2001-12-17   -0.078524
2001-12-18   -1.004957
2001-12-19   -0.819964
2001-12-20   -0.937589
2001-12-21   -0.514052
2001-12-22    0.417903
2001-12-23    0.194151
2001-12-24    0.573975
2001-12-25   -1.573722
2001-12-26   -0.031871
2001-12-27    1.176214
2001-12-28    0.162123
2001-12-29   -1.366127
2001-12-30    2.019878
2001-12-31    1.041322
Freq: D, Length: 365, dtype: float64

In [36]:
longer_ts['2001-05']

2001-05-01    0.481265
2001-05-02   -0.385993
2001-05-03    0.261710
2001-05-04   -0.672375
2001-05-05   -1.361047
2001-05-06    0.846435
2001-05-07   -0.039091
2001-05-08    0.519357
2001-05-09    0.945745
2001-05-10    0.284509
2001-05-11    0.958706
2001-05-12   -0.708310
2001-05-13   -1.434465
2001-05-14    0.319100
2001-05-15    1.200969
2001-05-16    0.111288
2001-05-17   -0.603459
2001-05-18    1.286235
2001-05-19   -0.225068
2001-05-20    1.710458
2001-05-21    0.441587
2001-05-22   -0.209258
2001-05-23   -0.764765
2001-05-24    0.788769
2001-05-25    1.304260
2001-05-26   -0.179430
2001-05-27    1.622292
2001-05-28   -0.990266
2001-05-29    2.254376
2001-05-30    0.744726
2001-05-31    0.488341
Freq: D, dtype: float64

In [37]:
ts[datetime(2011,1,7)]

-1.2978275729005746

In [38]:
ts

2011-01-02   -0.113944
2011-01-05   -1.105577
2011-01-07   -1.297828
2011-01-08    1.390254
2011-01-10    0.330240
2011-01-12   -0.851502
dtype: float64

In [39]:
ts['1/6/2011':'1/11/2011']

2011-01-07   -1.297828
2011-01-08    1.390254
2011-01-10    0.330240
dtype: float64

In [40]:
ts.truncate(after = '1/9/2011')

2011-01-02   -0.113944
2011-01-05   -1.105577
2011-01-07   -1.297828
2011-01-08    1.390254
dtype: float64

In [41]:
dates = pd.date_range('1/1/2000', periods = 100, freq = 'W-WED')
long_df = pd.DataFrame(np.random.randn(100,4),
                       index = dates,
                       columns = ['Colorado', 'Texas', 'New York', 'Ohio'])

long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  0.447942  1.776011  0.510589 -0.224681
2001-05-09  0.353127  1.512008 -1.075101  1.261702
2001-05-16  0.374038 -0.711359  0.021619 -0.728735
2001-05-23  0.703548 -0.362907  0.071051 -1.634464
2001-05-30  0.146832  0.084191  0.696300 -1.877974

## 11.2.2 Time Series with Duplicate Indices

In [42]:
dates = pd.DatetimeIndex(['1/1/2000','1/2/2000','1/2/2000','1/2/2000','1/3/2000'])
dup_ts = pd.Series(np.arange(5), index = dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [43]:
dup_ts['1/3/2000']

4

In [44]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [45]:
grouped = dup_ts.groupby(level = 0)
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

In [47]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

# 11.3 Date Ranges, Frequencies, and Shifting

## 11.3.1 Generating Date Ranges

## 11.3.2 Frequencies and Date Offsets

## 11.3.3 Shifting (Leading and LAgging) Data

# 11.4 Time Zone Handling

## 11.4.1 Time Zone Localization and Conversion

## 11.4.2 Operations with Time Zone - Aware Timestamp Objects

## 11.4.3 Operations Between Different Time Zones

# 11.5 Periods and Period Arithmetic

## 11.5.1 Period Frequency Conversion

## 11.5.2 Quarterly Period Frequencies

## 11.5.3 Converting Timestamps to Periods (and Back)

## 11.5.4 Creating a PeriodIndex from Arrays

# 11.6 Resampling and Frequency Conversion

## 11.6.1 Downsampling

## 11.6.2 Upsampling and Interpolation

## 11.6.3 Resampling with Periods

# 11.7 Moving Window Functions

## 11.7.1 Exponentially Weighted Functions

## 11.7.2 Binary Moving Window Functions

## 11.7.3 User-Defined Moving Window Functions

# 11.8 Conclusion